body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header, .hero {
    background: #1F2937;
}

header.left, header.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a, .secondary-text {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 100px 150px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 10px;
}

button.sign-up1 {
    color: #F9FAF8;
    background: #3882f6;
    border: 2px solid #3882f6;
    margin: 10px;
}

img {
    width: 450px;
    height: 250px;
    display: wrap;
}