body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header, .hero {
    background: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 150px;
    margin: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

ul {
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

a, .secondary-text {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    display: flex;
    justify-content: center;
    padding: 100px 150px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

button {
    font-size: 18px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 10px;
}

button.sign-up1 {
    color: #F9FAF8;
    background: #3882f6;
    border: 2px solid #3882f6;
    margin: 10px 0px;
}

img {
    width: 450px;
    height: 250px;
    margin-left: 20px;
}

/* 2nd Section - info tiles */

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding: 50px 100px 150px;
}

.tile {
    max-width: 200px;
}

.tile-image {
    border-radius: 25px;
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
}

.subtext {
    text-align: center;
}

/* 3rd Section - quote */

.quote {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
}